@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body,header,nav,section,footer,div,h1,h2,h3,p,caption,table,thead,tbody,tfoot,ul,ol,li,address,
form,legend,button,fieldset,figure,figcaption{
    margin: 0px;
    padding: 0px;
}
body{font-family: 'Noto Sans KR', sans-serif;}
ul,ol{ list-style: none; }
a{ text-decoration: none;}
caption,legend{ display: none; }
img{
    border: 0px;
    display: block;
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
}
fieldset,button{
    border: 0px;
}
address{ font-style: normal;}
